.yocuando{
    background-color: rgb(35, 191, 243);
    padding: 1% 5% 5% 5%;
    text-align: justify;
    width: 500px;
    margin: auto;
    margin-top: 5%;
}
body{
    background-color: rgb(126, 218, 218);
}
h1{
    text-align: center;
}

.textocuando{
    padding: 5%;
    background-color: rgb(71, 255, 194);
    border: 5%;
    border-color: black;
    border-style: dotted;
}

.intro{
    background-color: rgb(127, 87, 236);
    padding: 1% 5% 5% 5%;
    text-align: justify;
    width: 500px;
    margin: auto;
    margin-top: 10%;
    border-top-left-radius:20% ;
}

.estudio{
    padding: 8%;
    background-color: rgb(48, 137, 219);
    border: 10px double black;
    border-radius: 10%;
}