html{
h1{
    margin: 1%;
    background-color: skyblue;
    margin-right:73%;
}
    background-color: rgb(94, 184, 184);
.termstext{
    text-align: center;
}
.user{
    background-color: white;
    padding: 1%;
}
}
