div{ 
    background-color: aquamarine;
    width: 200px;
    margin: auto;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    /*se puede hacer lo mismo ocupando solamente border, se tiene que ordenar los elementos de la siguiente manera width-style,color*/
    border-radius: 8px;s
}